html {
    background-color: white;
   /
}

/*--CONTENT--*/

#CONTENT {opacity: 0;}


.pic {position: absolute; margin: auto; margin-top: 4%;  left: 0; right: 0; width: 900px; z-index: 0;}

#MENU{position: absolute; margin: auto; margin-top: 4%; left: 0; right: 0; width: 900px; opacity: 0; z-index: 1;}

#Logo {position: absolute; margin: auto; margin-top: -25px; left: 770px; right: 0px;  }
#Menu {position: absolute; top: 0px; text-align: left; left:  920px; width: 300px;}
#Line {position: absolute; margin: auto; margin-top:-2.3%; left: 910px; right: 0px; border: solid; border-width: 0.5px; width: 0px; height: 515px;}


#Button{position: fixed; ; right: 130px; bottom: 65px;}
    
    .b1 {cursor: pointer;color: black; border: none; background: none; font-size: 1.1em;transition-duration: 0.2s;}
    .b1:hover{color: lightgrey;}

 .text {position: absolute; right: 200px; bottom: 70px;}






    

 /*--Fonts--*/   
.h_01 {font-family: 'Arapey', sans-serif; font-weight: 300; font-size: 1.2eM; }
.p_01 {font-family: 'Arapey', sans-serif; font-weight: 100; color: black;font-size: 1.0em;}
    
.am_01:link {font-size: 1.0em; line-height: 1.1em; font-family: 'Arapey',sans-serif; color: gray; text-decoration: none; letter-spacing: 0.11em; text-align: left;}
.am_01:visited {color: black; text-decoration: none; text-align: lef;}
.am_01:hover {color: lightgray; text-decoration: none; text-align: left;}
.am_01:active {color: black; text-decoration: none; text-align: left;}
    
.am_02:link {font-style: italic; font-size: 1.0em; line-height: 1.1em; font-family: 'Arapey',sans-serif; color: gray; text-decoration: cursive; letter-spacing: 0.11em;}
.am_02:visited {color: black; text-decoration: none;}
.am_02:hover {color: lightgray; text-decoration: none;}
.am_02:active {color: black; text-decoration: none;}
    
a {color: black; text-decoration: none;}
    
    

    
    